<a href="https://colab.research.google.com/github/skywalker0803r/-AI-/blob/main/test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 功能名稱1.

In [ ]:
# 實作我要做的功能1

# 功能名稱2.

In [ ]:
# 實作我要做的功能2

# pandas 打開 excel檔案

In [ ]:
import pandas as pd

df = pd.read_excel('/content/AAPL.xlsx')
df

           Open        High         Low       Close   Adj Close     Volume
0     74.059998   75.150002   73.797501   75.087502   73.449387  135480400
1     74.287498   75.144997   74.125000   74.357498   72.735321  146322800
2     73.447502   74.989998   73.187500   74.949997   73.314888  118387200
3     74.959999   75.224998   74.370003   74.597504   72.970085  108872000
4     74.290001   76.110001   74.290001   75.797501   74.143890  132079200
..          ...         ...         ...         ...         ...        ...
499  175.850006  176.850006  175.270004  176.279999  174.995621   68356600
500  177.089996  180.419998  177.070007  180.330002  179.016129   74919600
501  180.160004  181.330002  178.529999  179.289993  177.983688   79144300
502  179.330002  180.630005  178.139999  179.380005  178.073044   62348900
503  179.470001  180.570007  178.089996  178.199997  176.901642   59773000

[504 rows x 6 columns]